.shortcut-lists {

  &__set {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__set-title {
    border-bottom: 2px solid rgba($colorWhite, 0.1);
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
  }

  &__shortcut {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__shortcut-keys {
    white-space: nowrap;
  }

  &__shortcut-groups {
    white-space: nowrap;
  }

  &__shortcut-group {
    &::after {
      content: 'or';
      padding: 0 0.5rem;
      font-size: 1rem;
    }

    &:last-child::after {
      display: none;
    }
  }

}