.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $colorYellow;
  color: $colorBlack;
  height: 100vh;
  padding: 1.5rem;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 42rem;
    margin: 0 auto;
  }

  &__logo {
    max-width: 18rem;
    margin-bottom: -3rem;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  &__subtitle {
    text-align: center;
    opacity: 0.5;
    font-size: 1.4rem;
    font-weight: 500;
    max-width: 30rem;
    margin-bottom: 2rem;
  }
}