.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $colorYellow;
  color: $colorBlack;
  height: 100vh;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 36rem;
    margin: 0 auto;
  }

  &__logo {
    max-width: 18rem;
  }

  &__title {
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
  }

  &__subtitle {
    text-align: center;
    opacity: 0.5;
    font-size: 1.4rem;
    font-weight: 500;
  }
}