.countdown-button {

  display: inline-flex;
  flex-direction: column;
  width: 26rem;
  max-width: 100%;
  margin: 2rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__discount {
    margin-top: 0.75rem;
    font-size: 0.9rem;
    font-weight: 600;
    font-style: italic;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 19px;
    padding: 0.6rem;
    background-color: rgba($colorBlack, 0.05);

    @media screen and (min-width: 500px) {
      flex-direction: row;
    }
  }

  &__countdown {
    display: flex;
    margin: 0 0 0.6rem 0;

    @media screen and (min-width: 500px) {
      margin: 0 0.6rem 0 0;
    }
  }

  &__countdown,
  &__button {
    width: 100%;

    @media screen and (min-width: 500px) {
      width: 50%;
    }
  }

  &__item {
    flex: 1 0 auto;
    line-height: 1.2;
  }

  &__value {
    text-align: center;
    font-feature-settings: 'tnum' 1;
    font-size: 1.2rem;
    font-weight: 700;
    color: $colorBlack;
  }

  &__label {
    text-align: center;
    font-weight: 700;
    font-size: 0.8rem;
  }
}