.app-section {
  position: relative;

  &--black {
    background-color: $colorBlack;
    color: rgba($colorWhite, 0.5);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $colorWhite;
    }
  }

  &--yellow {
    background-color: $colorYellow;
    color: rgba($colorBlack, 0.5);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $colorBlack;
    }
  }

  &__wave {
    position: absolute;
    z-index: 1;
    top: -1px;
    left: 0;
    width: 100%;
    height: auto;
  }

  &__inner {
    position: relative;
    z-index: 2;
    padding: 5rem 1.5rem;
    max-width: 62rem;
    margin: 0 auto;
  }
}