.small-key {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 2.75rem;
  padding: 0 3px;
  height: 2.75rem;
  font-size: 1.15rem;
  font-weight: 700;
  color: rgba($colorWhite, 0.7);
  line-height: 1;
  border-radius: 6px;
  background-color: rgba($colorWhite, 0.1);
  margin-left: 0.5rem;
  transition: color 0.1s $ease;

  &:first-child {
    margin-left: 0;
  }
}
